<a href="https://colab.research.google.com/github/joaomarcuslf2/data-science-studies/blob/main/imersao_alura_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd

dados = requests.get("https://raw.githubusercontent.com/alura-cursos/imersao-dados-2-2020/master/MICRODADOS_ENEM_2019_SAMPLE_43278.csv")
arquivo = open("teste.csv","w+")
arquivo.write(dados.text)
arquivo.close()

df = pd.read_csv("teste.csv")

df.head()

media1 = df['NU_IDADE'].mean()
soma1 = df['NU_IDADE'].sum()
maximo1 = df['NU_IDADE'].max()
minimo1 = df['NU_IDADE'].min()
contagem1 = df['NU_IDADE'].count()
mediana1 = df['NU_IDADE'].median() 
padrao1 = df['NU_IDADE'].std() 
variancia1 = df['NU_IDADE'].var()  

print ('Média Idade: ' + str(media1))
print ('Som of idades: ' + str(soma1))
print ('Máximo Idade: ' + str(maximo1))
print ('Mínimo Idade: ' + str(minimo1))
print ('Contagem de idades: ' + str(contagem1))
print ('Mediana Idade: ' + str(mediana1))
print ('adrão de idades: ' + str(padrao1))
print ('Variância de idades: ' + str(variancia1))

agrupar_soma1 = df.groupby(['CO_MUNICIPIO_RESIDENCIA']).sum() 
agrupar_contagem1 = df.groupby(['CO_MUNICIPIO_RESIDENCIA']).count()

print ('Soma de valores, agrupados por código municipio: ' + str(agrupar_soma1))
print ('Contagem de valores, agrupados por código municipio: ' + str(agrupar_contagem1))

df['NU_IDADE'].describe()

Média Idade: 22.094355471816613
Som of idades: 2814379
Máximo Idade: 82
Mínimo Idade: 13
Contagem de idades: 127380
Mediana Idade: 19.0
adrão de idades: 7.498707258764504
Variância de idades: 56.230610552647455
Soma de valores, agrupados por código municipio:                             NU_INSCRICAO   NU_ANO  ...  NU_NOTA_REDACAO  Q005
CO_MUNICIPIO_RESIDENCIA                            ...
1100015                    2660044712507    28266  ...           6000.0    61
1100023                   15200289256340   161520  ...          26780.0   272
1100031                     380005909959     4038  ...            480.0     7
1100049                   18810329678841   199881  ...          41920.0   343
1100056                    1330029355241    14133  ...           3460.0    26
...                                  ...      ...  ...              ...   ...
5221858                   20900414549279   222090  ...          39080.0   420
5222005                    1140029794302    12114  ...           2780.0    26
5222054                     570011828925     6057  ...           1660.0    12
5222203                     190004105028     2019  ...            520.0     5
5300108                  457529241510488  4861752  ...        1051360.0  9287

[5133 rows x 94 columns]
Contagem de valores, agrupados por código municipio:                          NU_INSCRICAO  NU_ANO  ...  Q024  Q025
CO_MUNICIPIO_RESIDENCIA                        ...
1100015                            14      14  ...    14    14
1100023                            80      80  ...    80    80
1100031                             2       2  ...     2     2
1100049                            99      99  ...    99    99
1100056                             7       7  ...     7     7
...                               ...     ...  ...   ...   ...
5221858                           110     110  ...   110   110
5222005                             6       6  ...     6     6
5222054                             3       3  ...     3     3
5222203                             1       1  ...     1     1
5300108                          2408    2408  ...  2408  2408

[5133 rows x 135 columns]

count    127380.000000
mean         22.094355
std           7.498707
min          13.000000
25%          18.000000
50%          19.000000
75%          24.000000
max          82.000000
Name: NU_IDADE, dtype: float64